html {
  font-family: "Open Sans", sans-serif;
}

body {
  scroll-behavior: smooth;
}

.jumbotron {
  background-color: #d9d9d9;
  padding-top: 5rem;
}

.gallery {
  background-color: #d9d9d9;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #353535;
}

.btn-instagram {
  background-color: #353535;
}
